{:encounter {:roll-hit-points? true
             :monsters [{:name "Young Green Dragon" :number 2}]
             :other-combatants [{:name "Droop" :initiative 4}
                                {:name "Livinia" :initiative 6}]}}