{:encounter {:roll-hit-points? true
             :monsters [{:name "Bugbear"
                         :number 2}]
             :other-combatants [{:name "Droop"
                                 :initiative-modifier 4}]}}